body {
  background-color: hotpink;
  color: yellow; }

.logo {
  max-width: 160px; }

.top-padded {
  padding-top: 4em; }

#messages li {
  margin: 4px;
  border: solid #d6e9c6 2px;
  background-color: grey;
  list-style: none;
  text-align: center;
  font-size: 2em;
  border-radius: 8px;
  box-shadow: 2px 2px 2px black; }

#messages .error {
  background-color: #f73333; }

#messages .success {
  background-color: #3c763d; }
