{% extends "layout.html" %}

{% block centre %}
<head>
    <link rel="stylesheet" href="/static/css/lib/addcoursework.css">
</head>

<h2>Add New Coursework</h2>

 <form action="/add_coursework" method="post">

  <table>
    <tr>
      <td>Module Code</td>
      <td><input class="stack" id="module_code" name="module_code" value="" required></td> 
    </tr>
    <tr>
      <td>Coursework No.</td>
      <td><input class="stack" id="coursework_number" type="number" name="coursework_number" value="" required></td> 
    </tr>
    <tr>
      <td>Coursework Title</td>
      <td><input class="stack" id="coursework_title" name="coursework_title" value="" required></td>
    </tr>
    <tr>
      <td>Due Date</td>
      <td><input class="stack" id="due_date" type="date" name="due_date" value="" placeholder="dd/mm/yyyy hh:mm" required></td>
    </tr>
    <tr>
      <td>Module Percentage</td>
      <td><input class="stack" id="module_percentage" type="number" name="module_percentage" value="" required></td>  
    </tr>
    <tr>
      <td>Assessment Type</td>
      <td><input class="stack" id="assessment_type" name="assessment_type" value="" required></td> 
    </tr>
    <tr>
      <td><button class="stack" type="submit" >Submit Coursework</button></td>
    </tr>
  </table>

  </form>

{% endblock %}