{% extends "layout.html" %}

{% block centre %}
    <h1>Admin</h1>

    <div class="tabs three">
        <input id='tab-1' type='radio' name='tabgroupB' checked />
        <label class="pseudo button toggle" for="tab-1">Add users</label>
        <input id='tab-2' type='radio' name='tabgroupB'>
        <label class="pseudo button toggle" for="tab-2">Edit User Details</label>
        <input id='tab-3' type='radio' name='tabgroupB'>
        <label class="pseudo button toggle" for="tab-3">Edit Module Details</label>

        <div class="row">
            <div class="flex two">
                <form action="/add_user" method="post">
                    <fieldset>
                        <legend>Create a new student</legend>

                        <input class="stack" id="name" name="name" value="" placeholder="Name" required>
                        <input class="stack" id="id" name="id" type="number" value="" placeholder="Student ID" required>
                        <input class="stack" id="password" name="password" type="text" placeholder="Password" required>
                        <!-- TODO Maybe auto complete existing modules -->
                        <input class="stack" id="course" name="course" value="" placeholder="Course" required>

                        <button class="stack" type="submit" class="pure-button pure-button-primary">Create Student</button>
                    </fieldset>
                </form>
                <form action="/add_staff" method="post">
                    <fieldset>
                        <legend>Create a new staff</legend>

                        <input class="stack" id="name" name="name" value="" placeholder="Name" required>
                        <input class="stack" id="id" name="id" type="text" placeholder="ID" required>
                        <input class="stack" id="password" name="password" type="text" placeholder="Password" required>

                        <button class="stack" type="submit" class="pure-button pure-button-primary">Create Staff</button>
                    </fieldset>
                </form>
            </div>
            <div>
                <p>Edit Users</p>
            </div>
            <div>
                <p>Edit Module</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block clippy %}
agent.speak("Looks like you're trying to be an admin, want me to screw it up?");
{% endblock %}
