{% extends "layout.html" %}
<style>
.button {
    background-color: #ffff00;
    border: none;
    color: deeppink;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Trebuchet MS";
}
</style>
 {% block head %}

 {% endblock %}

  {% block centre %}
  
	<h1>Active modules</h1>
	<p>Below are links to download cover sheets for your current modules</p>

    {% for sheet in sheets %}
		<a href = "http://puu.sh/sbcPn/a0994951d7.pdf" class = "button"> Download {{sheet["module_code"]}} </a>
    {% endfor %}

  {% endblock %}