{% extends "layout.html" %} <!-- Extends layout from the base layout template -->

{% block centre %}<!-- Just setting formatting -->
<h1>Submission Report</h1> <!-- giving the page a header and encapsulating the php/sql table in a box -->
		<legend>You can use this web page to retrieve a list of all submissions related to a coursework, as long as you know the coursework number.</legend>
<br> <br>
<!-- setting formatting. the below lines creates all the headings in the table -->

	<div class="form"> <!-- Just setting formatting -->
                <form action="/cw_report" method="post"> <!-- The button basically refreshes the page, but doing so will pass the coursework_number
                                                            through to the function and retrieve the results-->
		<fieldset>
				<legend>Retrieve A Report On All Coursework Submissions</legend>
	                    	<input id="Coursework_Number" name="Coursework_Number" value="" placeholder="Coursework Number" required> <!-- This is where the user will input the
	                    	 Coursework_Number-->
				<button type="submit" class="pure-button pure-button-primary">Search Coursework</button> <!-- This button completes the action above -->
		</fieldset> <!-- All this is layout stuff -->
		</form>	
	</div>
						
						
<p>If there are any reports with the Coursework Number you have entered, the results will be shown below.</p> <!-- Puts this in a paragraph -->

<table>
		<thead>
			<th>Submission ID</th> <!-- Table headings -->
			<th>Student ID</th>
			<th>Coursework Number</th>
			<th>Mark</th>
			<th>Date</th>
			<th>Status</th>
		</thead>
		{% for subm in report %} <!-- for each subm(ission) in the data from the function, put these in the table -->
			<tr>
				<td>{{subm["Submission ID"]}}</td>
				<td>{{subm["Student ID"]}}</td>
				<td>{{subm["Coursework Number"]}}</td>
				<td>{{subm["Mark"]}}</td>
				<td>{{subm["Date Submitted"]}}</td>
				<td>{{subm["Status"]}}</td>
			</tr>
		{% endfor %} <!-- Ends the for loop -->
	</table>


{% endblock %} <!-- Ends my block of code for the page -->






