{% extends "layout.html" %}
 {% block head %}

  {% endblock %}

  {% block centre %}

    <h2>Courseworks:</h2>

    <table>
      <thead>
        <th>Coursework Number</th>
        <th>Coursework Title</th>
        <th>Module Code</th>
        <th>Mark</th>
        <th>Date Submitted</th>
      </thead>

      {% for coursework in courseworks %}
        <tr>
          <td>{{coursework["coursework_number"]}}</td>
          <td>{{coursework["coursework_title"]}}</td>
          <td>{{coursework["module_code"]}}</td>
          <td>{{coursework["mark"]}}</td>
          <td>{{coursework["date_submitted"]}}</td>

        </tr>
      {% endfor %}
    </table>

  {% endblock %}
