{% extends "layout.html" %}

{% block centre %}
    <center>
        <h1>Sitemap</h1>
        <img src="sitemap.jpg" alt="Sitemap" height="50%">
        
        <h1>Frequently Asked Questions</h1>
        <h3>Q: Why can't I submit my coursework?</h3>
        <p>A: Sometimes the module submissions aren't opened until closer to the deadline; if you can't see the submission link now, then check again in a couple of days.</p>
    </center>
{% endblock %}