<!doctype html>

<head>
    {% block head %}
        {% block title %}<title>ECS System</title> {% endblock %}
        <!-- <link rel="stylesheet" href="/static/css/lib/pure.css"> -->
        <link rel="stylesheet" href="/static/css/lib/picnic.css">
        <link rel="stylesheet" href="/static/css/lib/clippy.css">
        <link rel="stylesheet" href="/static/css/style.css">

        <script src="/static/js/lib/jquery.min.js"></script>
        <script src="/static/js/lib/clippy.js"></script>
    {% endblock %}
</head>

<body>
    {% block body %}
    {% include "navigation.html" %}
        <div class="flex top-padded">
            <div></div>
            <div class="half">
                {% include "messages.html" %}
                {% block centre %}
                {% endblock %}
            </div>
            <div></div>
        </div>
    {% endblock %}

</body>

<script type="text/javascript">
    clippy.load('Clippy', function(agent) {
        // Do anything with the loaded agent
        agent.show();
        {% block clippy %}
        {% endblock %}
    });
</script>
