{% extends "layout.html" %}

{% block centre %}
<h1>Login</h1>

<form action="/login" method="post">
    <fieldset>
        <input id="id" name="id" value="" placeholder="ID">
        <input id="password" name="password" value="" type="password" placeholder="Password">

        <label>
            <input id="staff" type="checkbox" name="staff">
            <span class="checkable">Staff Login</span>
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>
{% endblock %}
