<nav>
    <a href="/" class="brand"><img class="logo" src="/static/img/logo.png"/></a>
    <div class="menu">
        {% if session["staff"] %}
          <a href="/admin" class="pseudo button">Admin</a>
          <a href="/addcoursework" class="pseudo button">Add Coursework</a>
          <a href="/cwreport" class="pseudo button">Coursework Report</a>
        {% endif %}
                
        {% if session["student"] %}
          <li class="pure-menu-item"><a href=" " class="pure-menu-link">Cover sheets</a></li>
          <li class="pure-menu-item"><a href="/cwstatus" class="pure-menu-link">Coursework status</a></li>
          <li class="pure-menu-item"><a href=" " class="pure-menu-link">Upload coursework</a></li>
        {% endif %}

        {% if session["name"] %}
          <a href="/upload/340CT" class="pseudo button">Upload</a>
          <a href="/help" class="pseudo button">Help</a>
          <a href="/profile" class="pseudo button">{{session["name"]}}</a>
          <a href="/logout" class="pseudo button">Logout</a>
        {% else %}
          <a href="/login" class="pseudo button">Login</a>
        {% endif %}
    </div>
</nav>
