{% extends "layout.html" %}


{% block centre %}
	{% if student %}
		<h1>Student profile</h1>
		<h2>Id: {{student["id"]}}</h2>
		<h2>Name: {{student["name"]}}</h2>
		<h2>Course: {{student["course"]}}</h2>
	{% else %}
		<h1>Staff profile</h1>
		<h2>Id: {{staff["id"]}}</h2>
		<h2>Name: {{staff["name"]}}</h2>
	{% endif %}
{% endblock %}
