{% extends "layout.html" %}

{% block head %}
	{{super()}}
	<script src="/static/js/lib/dropzone.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/lib/dropzone.css">
{% endblock %}

{% block centre %}
	<h1>Upload</h1>
	<h2>{{module["name"]}}</h2>

	<form action={{"/upload/" + module["id"]}} class="dropzone" id="dropzone"></form>

	<h2>Previous Uploads</h2>

	<table>
		<thead>
			<th>Coursework Title</th>
			<th>Code</th>
			<th>Mark</th>
			<th>Submission Time</th>
		</thead>
		{% for upload in previous_uploads %}
			<tr>
				<td>{{upload["title"]}}</td>
				<td>{{upload["coursework_number"]}}</td>
				<td>{{upload["mark"]}}</td>
				<td>{{upload["date"] | date_time}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
